body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #485268;
    background-color: #E5E5E5;
}
.strong{
    font-weight: 800;
}
.page{
    width: 595px;
    margin: auto;
}
/* #region about */ 
.about {
    display: flex;
    padding: 32px 40px 24px 40px;
    background-color:#E25544;
    color: white;
}

.about_name{
    padding: 0 0 8px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.about_role{
    margin: 0;
    padding: 0 0 8px 0;
    font-size: 12px;
    line-height: 15px;

}

.about_text{
    margin: 0;
}

.about_photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 50px 0 0 50px;
}

#myBtn{
    margin-top: 25px;
    border: none;
    padding: 7px 10px;
}
button{
    cursor: pointer;
}
/* #endregion about */

.main{
    padding: 0 40px;
    background-color: white;
}

.icons{
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
}


/* #region info */ 
.info{
    border-top: 1px solid #dee2de;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.info_title{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color:#E25544;
}

.info_content{
    width: 360px;
}
/* #endregion info */ 
/* #region job */ 
.job{
    margin-top: 24px;
    border-left: 1px dashed #dee2ed;
    padding-left: 8px;
}

.job:first-child{
    margin-top: 0;
}

.job_title{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: darkblue;
    text-transform: uppercase;
}

.job_description{
    margin: 0;
    margin-top: 8px;
}
/* #endregion contacts */ 
/* #region study */ 

.study{
    margin-top: 24px;
    border-left: 1px dashed #dee2ed;
    padding-left: 8px;
}

.study:first-child{
    margin-top: 0;
}

.study_title{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
}

.study_description{
    margin: 0;
    margin-top: 8px;
}
/* #endregion job */ 
/* #region skills */ 

.skills{
    display: flex;
}

.skills_list{
    box-sizing: border-box;
    width:50%;
    border-left: 1px dashed #dee2ed;
    padding-left: 8px;
    list-style: none;
    margin: 0;
}

.skills.item{
    margin-top: 8px;
}

.skills.item:first-child{
    margin-top: 0;
}
/* #endregion study */ 
/* #region tools */ 

.tools{
    display: flex;
}

.tools_list{
    box-sizing: border-box;
    width:50%;
    border-left: 1px dashed #dee2ed;
    padding-left: 8px;
    list-style: none;
    margin: 0;
}

.tools.item{
    margin-top: 8px;
}

.tools.item:first-child{
    margin-top: 0;
}
/* #endregion tools */ 

/* #region languages */

.languages{
    border-top: 1px solid #dee2de;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.languages_title{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color:#E25544;
}

.languages_content{
    width: 360px;
}

.language{
    margin-top: 0;
    border-left: 1px dashed #dee2ed;
    padding-left: 8px;
}

.language_title{
    font-weight: 150;
    font-size: 12px;
    margin-top: 0;
}

/* #endregion languages */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    max-width: 690px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
